<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoBrowseWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <AutoBrowseWeb.Properties.Settings>
            <setting name="page" serializeAs="String">
                <value>page.txt</value>
            </setting>
            <setting name="cate" serializeAs="String">
                <value>pcategories.txt</value>
            </setting>
            <setting name="proxytime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="times" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="proxies" serializeAs="String">
                <value>proxies.txt</value>
            </setting>
            <setting name="Iterval1" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Iterval2" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Iterval3" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Iterval4" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="psearch" serializeAs="String">
                <value>psearch.txt</value>
            </setting>
            <setting name="Firefoxbin" serializeAs="String">
                <value>C:\\Program Files (x86)\\Mozilla Firefox\\firefox.exe</value>
            </setting>
        </AutoBrowseWeb.Properties.Settings>
    </userSettings>
</configuration>