-------          CertainCity 2 Canada Major City.sql ------------
----------------------------------------------------------------------------------------------------------------------------
-- 使用说明 将指定这天的这个城市的记录分配到当天的 Canada Major City
-- DECLARE @end int = 15;                                要改，压缩掉 多少条记录
-- DECLARE @D DATE = '2017-10-14' ;                      要改， 压缩掉 那天的条记录
-- DECLARE @willchangeCity NVARCHAR(100)  = N'Montréal'  要将那个城市的记录压缩掉
----------------------------------------------------------------------------------------------------------------------------
------------------------------------
-- Canada major City
------------------------------------
DECLARE @end int = 19;
DECLARE @D DATE = '2018-02-26' ;
DECLARE @willchangeCity NVARCHAR(100)  = N'Beauharnois'








----------------------------------------------------------------------------------------------------------------------------
-- 下面是程序
----------------------------------------------------------------------------------------------------------------------------
Declare @loop int = 1;
while @loop <=@end
BEGIN  -- While Start here
--SET @D = CAST(ISNULL(@D, GETDATE()) as date);
if object_id('tempdb..#SAMPLE') is not null
    drop table #SAMPLE;

CREATE TABLE #SAMPLE 
(
ID INT IDENTITY(1,1) NOT NULL,  
country nvarchar (2),
region nvarchar (2),
city nvarchar (20),
thip nvarchar (20),
host nvarchar (20) ,
lat numeric (18,10),
long numeric (18,10),
uagency nvarchar (500)  
)

DECLARE @UA NVARCHAR(500) 

------------------
-- Toronto 5-3
------------------
DECLARE  @M   NVARCHAR(20) = N'Toronto'
DECLARE  @R NVARCHAR(2) =N'ON'
DECLARE  @C NVARCHAR(2) =N'CA'
DECLARE @lat numeric (18,10) = 43.73340000
DECLARE @long numeric (18,10) = -79.33290000
DECLARE  @Mip NVARCHAR(20) = '199.212.28.6'
SET @UA  =N'Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1'
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)

SET @lat  = 43.73340000
SET @long  = -79.33290000
set @Mip = '174.118.223.158'
SET @UA  =N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8'
insert into #SAMPLE Values (@C,@R,@M,  @mIP, @Mip,@lat,	@long, @UA)
SET @lat  = 43.66550000
SET @long  = -79.42040000
set @Mip = '72.139.27.20'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.3; WOW64; rv:55.0) Gecko/20100101 Firefox/55.0'




------------------------------------
-- Montréal 16-3
------------------------------------
SET  @M    = N'Montréal'
SET  @R    = N'QC'
SET  @C    = N'CA'
SET  @lat  = 45.501302
SET  @long = -73.571751
SET  @Mip  = '70.48.125.146'
SET  @UA   =N'Mozilla/5.0 (iPad; CPU OS 9_3_5 like Mac OS X) AppleWebKit/601.1.46 (KHTML, like Gecko) Version/9.0 Mobile/13G36 Safari/601.1'
set @Mip = '72.53.126.9'
SET @UA  =N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8'

set @Mip = '24.114.82.21'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.3; WOW64; rv:55.0) Gecko/20100101 Firefox/55.0'






------------------------------------
-- Vancouver  16-3
------------------------------------
SET  @M    = N'Vancouver'
SET  @R   =N'BC'
SET  @C    =N'CA'
SET  @lat    = 49.281866
SET  @long   = -123.121032
SET  @Mip   = '104.251.102.130'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:48.0) Gecko/20100101 Firefox/48.0'

set @Mip = '72.143.216.59'
SET @UA  =N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'

set @Mip = '174.7.177.75'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.0.1; 10DTB12A Build/LRX22C) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Safari/537.36'




------------------------------------
-- Calgary  24-3
------------------------------------
SET  @M    = N'Calgary'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 51.046960
SET  @long   = -114.068808
SET  @Mip   = '199.126.3.57'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; WOW64; rv:47.0) Gecko/20100101 Firefox/47.0'

set @Mip = '50.93.71.167'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.1.1; SAMSUNG SM-G530W Build/LMY47X) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/3.3 Chrome/38.0.2125.102 Mobile Safari/537.36'

set @Mip = '24.66.216.95'
SET @UA  =N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_12_6) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.1.2 Safari/603.3.8'


------------------------------------
-- Edmonton  6-3
------------------------------------
SET  @M    = N'Edmonton'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 53.543226
SET  @long   = -113.494108
SET  @Mip   = '96.52.246.44'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'
set @Mip = '68.149.26.198'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'
set @Mip = '207.228.78.20'
SET @UA  =N'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'

------------------------------------
-- Ottawa  16-3
------------------------------------
SET  @M    = N'Ottawa'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 45.420763
SET  @long   = -75.698403
SET  @Mip   = '205.193.94.40'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.0; SM-N900W8 Build/LRX21V) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.125 Mobile Safari/537.36'
set @Mip = '99.249.41.201'
SET @UA  =N'Mozilla/5.0 (Linux; Android 5.1.1; SM-G530W Build/LMY47X) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/3.3 Chrome/38.0.2125.102 Mobile Safari/537.36'
set @Mip = '206.130.9.150'


------------------------------------
-- Mississauga   16-3
------------------------------------
SET  @M    = N'Mississauga'
SET  @R   =N'ON'
SET  @C    =N'CA'
SET  @lat    = 43.57710000
SET  @long   = -79.63060000
SET  @Mip   = '45.58.209.144'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'

SET  @lat    = 43.64130000
SET  @long   = -79.62960000
SET  @Mip   = '207.112.18.210'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'

SET  @lat    = 43.59240000
SET  @long   = -79.76110000
SET  @Mip   = '216.99.98.10'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'



------------------------------------
-- Winnipeg   16-3
------------------------------------
SET  @M    = N'Winnipeg'
SET  @R   =N'MB'
SET  @C    =N'CA'
SET  @lat    = 49.894118
SET  @long   = -97.142237
SET  @Mip   = '50.70.252.32'
SET @UA  =N'Mozilla/5.0 (Linux; Android 7.0; SM-G955W Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/59.0.3071.125 Mobile Safari/537.36'
SET  @lat    = 49.894118
SET  @long   = -97.142237
set @Mip = '206.45.112.99'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/59.0.3071.115 Safari/537.36'
SET  @lat    = 49.894118
SET  @long   = -97.142237
set @Mip = '184.70.34.34'
SET @UA  =N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_2_1 like Mac OS X) AppleWebKit/602.4.6 (KHTML, like Gecko) Version/10.0 Mobile/14D27 Safari/602.1'

------------------------------------
-- Halifax   16-3
------------------------------------
SET  @M    = N'Halifax'
SET  @R   =N'NS'
SET  @C    =N'CA'
SET  @lat    = 44.646315
SET  @long   = -63.573653
SET  @Mip   = '142.134.90.125'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.90 Safari/537.36'
set @Mip = '96.30.149.224'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.10240'
set @Mip = '156.57.147.103'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'



------------------------------------
-- Brampton   16-3
------------------------------------
SET  @M    = N'Brampton'
SET  @R   =N'ON'
SET  @C    =N'CA'
SET  @lat    = 43.66650000
SET  @long   = -79.80540000
SET  @Mip   = '70.48.65.2'
SET @UA  =N'Mozilla/5.0 (Linux; Android 7.0; SM-G955W Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/59.0.3071.125 Mobile Safari/537.36'
SET  @M    = N'Brampton'
SET  @R   =N'ON'
SET  @C    =N'CA'
SET  @lat    = 43.69090000
SET  @long   = -79.83770000
SET  @Mip   = '216.13.136.5'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'
SET  @M    = N'Brampton'
SET  @R   =N'ON'
SET  @C    =N'CA'
SET  @lat    = 43.62490000
SET  @long   = -79.78760000
SET  @Mip   = '72.38.194.106'
SET @UA  =N'Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7.0; rv:11.0) like Gecko'


------------------------------------
-- Hamilton  16-3
------------------------------------
SET  @M    = N'Hamilton'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 43.259307
SET  @long   = -79.870767
SET  @Mip   = '76.66.168.5'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; WOW64; rv:48.0) Gecko/20100101 Firefox/48.0'

set @Mip = '72.142.71.105'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36'

set @Mip = '23.92.128.237'
SET @UA  =N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'



------------------------------------
-- Quebec City   16-3
------------------------------------
SET  @M    = N'Québec'
SET  @R   =N'QC'
SET  @C    =N'CA'
SET  @lat    = 46.87650000
SET  @long   = -71.28390000
SET  @Mip   = '184.160.88.138'
SET @UA  =N'Mozilla/5.0 (Linux; Android 7.0; SM-G955W Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/59.0.3071.125 Mobile Safari/537.36'
SET  @M    = N'Québec'
SET  @R   =N'QC'
SET  @C    =N'CA'
SET  @lat    = 46.75070000
SET  @long   = -71.35620000
SET  @Mip   = '173.246.23.38'
SET @UA  =N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'
SET  @M    = N'Québec'
SET  @R   =N'QC'
SET  @C    =N'CA'
SET  @lat    = 47.35070000
SET  @long   = -71.20200000
SET  @Mip   = '209.169.156.206'
SET @UA  =N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3112.113 Safari/537.36'

------------------------------------
-- 	London   16-3
------------------------------------
SET  @M    = N'London'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 42.984156
SET  @long   = -81.247581
SET  @Mip   = '74.216.217.66'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '69.159.218.115'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '99.243.190.12'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'

 


------------------------------------
-- 	Oshawa  16-3
------------------------------------
SET  @M    = N'Oshawa'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 43.897585
SET  @long   = -78.863614
SET  @Mip   = '70.55.41.181'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '207.112.11.82'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '207.164.171.148'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'


------------------------------------
-- 		Regina   16-3
------------------------------------
SET  @M    = N'Regina'
SET  @R   =N'SK'
SET  @C    =N'CA'
SET  @lat    = 50.446988
SET  @long   = -104.625111
SET  @Mip   = '142.3.50.28'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '216.174.134.2'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '216.174.134.3'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'



------------------------------------
-- 		Burnaby   16-3
------------------------------------
SET  @M    = N'Burnaby'
SET  @R   =N'BC'
SET  @C    =N'CA'
SET  @lat    = 49.2640000000
SET  @long   = -122.9369000000
SET  @Mip   = '207.23.201.175'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '142.58.162.74'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '142.58.85.126'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'




------------------------------------
-- 		Barrie, ON, CA   16-3
------------------------------------
SET  @M    = N'Barrie'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 44.3572000000
SET  @long   = -79.6929000000
SET  @Mip   = '76.69.84.77'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '174.119.210.63'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '74.12.65.0'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'





------------------------------------
-- 		Kitchener   16-3
------------------------------------
SET  @M    = N'Kitchener'
SET  @R   =N'AB'
SET  @C    =N'CA'
SET  @lat    = 43.449811
SET  @long   = -80.489153
SET  @Mip   = '99.236.52.89'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_2 like Mac OS X) AppleWebKit/603.2.4 (KHTML, like Gecko) Version/10.0 Mobile/14F89 Safari/602.1'

set @Mip = '174.88.203.53'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_0_2 like Mac OS X) AppleWebKit/602.1.50 (KHTML, like Gecko) Version/10.0 Mobile/14A456 Safari/602.1'

set @Mip = '184.151.36.21'
SET @UA  = N'Mozilla/5.0 (iPhone; CPU iPhone OS 10_3_3 like Mac OS X) AppleWebKit/603.3.8 (KHTML, like Gecko) Version/10.0 Mobile/14G60 Safari/602.1'










---- Create the variables for the random number generation
DECLARE @Random INT;
DECLARE @Upper INT;
DECLARE @Lower INT;

SET @Lower = 1 ---- The lowest random number
-- create random sample data
declare @sampleCount int 
select @sampleCount = Count(*) from #SAMPLE
select @Upper =  count (*) from #SAMPLE  
SELECT @Random = ROUND(((@Upper - @Lower -1) * RAND() + @Lower), 0)

 
declare @country nvarchar (2);
declare @region nvarchar (2);
declare @city nvarchar (20);
declare @thip nvarchar (20);
declare @host nvarchar (20) ;
declare @lat1 numeric (18,10);
declare @long1 numeric (18,10);
declare @uagency nvarchar (500) ;

select  @country  = country   from #sample   where id = @random 
select  @region   = region 	  from #sample   where id = @random
select  @city  	  = city  	  from #sample   where id = @random
select  @thip 	  = thip 	  from #sample   where id = @random
select  @host  	  = host  	  from #sample   where id = @random
select  @lat1  	  = lat  	  from #sample   where id = @random
select  @long1    = long  	  from #sample   where id = @random
select  @uagency  = uagency	  from #sample   where id = @random


-- work on APILOG table
select @Upper =  count (apilogid) from apilog where cscity = @willchangeCity and aclName='KHP'  and logdate = @d
SELECT @Random = ROUND(((@Upper - @Lower -1) * RAND() + @Lower), 0)
 

 declare @myIP1 int
 

 
 select top (1) @myIP1 = apilogid from 
(select top (@Random ) apilogid from apilog  where  cscity = @willchangeCity and aclName='KHP'   and logdate = @d   order by apilogid) a
order by apilogid desc
 
 

 

 update apilog set 
  cscountry = @country ,
  csregion =  @region  ,
  cscity = @city  	 ,
  csip = @thip 	, 
  cshost = @host  ,	 
  latitude = @lat1  	, 
  longitude = @long1  ,	 
  csuseragent = @uagency 
 where apilogid = @myIP1;

SELECT        apilogid, logdate, logtime, cscontent, csendpoint,  cscountry, csregion, cscity, csurl
FROM            apilog
WHERE        (apilogid = @myIP1)



 
select @loop = @loop +1;
END     -- while loop end here